/*model表示*/
#live2dCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    z-index: 1;
    pointer-events: none;
  }

/* フォーム全体 */
#diary-form {
    position: fixed;
    bottom: -5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: var(--main);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* 入力エリアを中央揃えに */
}

label {
    margin-bottom: 7px;
    align-self: flex-start;
    margin-left: 5%;
}

/* タイトル入力 */
#title {
    width: 99%;
    margin: 0 auto;
    font-family: "DotGothic16", sans-serif;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* 本文入力 */
#content {
    width: 99%;
    margin: 0 auto;
    font-family: "DotGothic16", sans-serif;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    min-height: 60px;
    resize: none;
    overflow-y: auto;
    margin-bottom: 10px;
}

#content::placeholder {
    color: #888;
}

/* 送信ボタン */
button {
    align-self: flex-end;
    width: 45px;
    height: 45px;
    font-size: 20px;
    background: var(--accent1);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    margin-right: calc(3%); /* titleやcontentと揃えて右に配置 */
    align-self: flex-end;
}

button:hover {
    background: var(--accent2);
}


