<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>post my diary</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=RocknRoll+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/commn.css">
        <link rel="stylesheet" href="/static/form.css">

    </head>
    <body>
        <canvas id="live2dCanvas"></canvas>

        <form id="diary-form">
            <label for="title">title：</label>
            <input type="text" name="title" id="title" required>
            <textarea name="content" id="content" placeholder="今日の思い出..." required></textarea>
            <button type="submit">▶</button>
        </form>
        <script src="/static/pixi.min.js"></script>
        <script src="/static/live2dcubismcore.min.js"></script>
        <script type="module" src="/static/live2dcubismframework.js"></script>
        <script type="module" src="/static/form.js" defer></script>
        
    </body>
</html>